<footer class="page-footer font-small indigo">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Resource Listing</a>
          </li>
          <li>
            <a href="#!">Press Kit</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Stack Overflow</a>
          </li>
          <li>
            <a href="#!">Join Discord</a>
          </li>
          <li>
            <a href="#!">Gitter</a>
          </li>
          <li>
            <a href="#!">Report Issues</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Community</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Events</a>
          </li>
          <li>
            <a href="#!">Meetups</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">GitHub</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Languages</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Español</a>
          </li>
          <li>
            <a href="#!">Inglés</a>
          </li>
          <li>
            <a href="#!">Alemán</a>
          </li>
          <li>
            <a href="#!">Francés</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">©️ 2022 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
